# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore class files
*.class
app/bin/main/org/beyondvector/assignments/common/ModelHelper.class
app/bin/main/org/beyondvector/assignments/a2/PricingAgentWithRAG.class
app/bin/main/org/beyondvector/assignments/common/ModelHelper.class
